@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

@theme {
  --color-brand-red: #FF3D00;
  --color-brand-cream: #FFFBEF;

  --color-surface-white: #FFFFFF;

  --color-text-primary: #333333;
  --color-text-secondary: #787878;

  --color-ui-grey: #E6E6E6;
  --color-ui-success: #4CD964;
  --color-ui-error: #FF3B30;

  --font-sans: 'Rubik', sans-serif;

  --radius-pill: 9999px;
  --radius-card: 16px;
}

@utility rounded-pill {
  border-radius: var(--radius-pill);
}

@utility rounded-card {
  border-radius: var(--radius-card);
}

@layer base {
  body {
    @apply bg-brand-cream text-text-primary font-sans antialiased;
  }
}